@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;
}

body{
    font-family: 'Poppins',sans-serif;
    color: var(--primary-text-color);
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto',sans-serif;
    font-size:  1.25rem;
    color: var(--secondary-text-color) ;
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}

/* utility classes */

.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}

.container{
    max-width: 1180px;
    margin-inline:auto;
    padding: var(--padding-inline-section);
    overflow: hidden;
}

.flex{
    display: flex;
    align-items: center;
}

.hover-links{
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}

.hover-links:hover{
    color: var(--accent-color);
}

.primary-btn{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 600;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
    text-align: center;
}

.primary-btn:hover{
    background-color: var(--accent-color-dark);
}


.secondary-btn{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 600;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease out;
}

.secondary-btn:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}

/* top banner*/

.top-banner{
    background-color: #4fb3d4;
    background-image: url(./assets/asset\ 32.png);
    background-size: 300px;

}

.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}

/*nav */

.main-nav{
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
}

.company-logo img{
    width: 200px;
}

.nav-links{
    flex-basis: 730px;
}

.nav-links ul{
    justify-content: end;
    gap: 40px;
}

.nav-toggle{
    display: none;
}



/* header */

header{
    padding: 50px var(--padding-inline-section) 0;
}

.header-section{
    justify-content: center;
    gap: 50px;
}

.header-left{
    max-width: 40vw;
}

.header-left h1{
    margin-top: 20px;
}

.get-st-btn{
    margin-top: 20px;
}

.header-right img{
    width: 100%;
}

/* companies section */

.companies-header{
    text-align: center;
    margin-block: 30px; /*for top and bottom */
    color: var(--primary-text-color);
}

.logos{
    justify-content: space-evenly;
    gap: 15px;
    flex-wrap: wrap;
}

.logo{
    height: 46px;
}

/*features section */

.features-section{
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(./assets/asset\ 34.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.features-header{
    text-align: center;
    margin-bottom: 30px;
}

.features-header h2{
    margin-bottom: 20px;
}

.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.features-card{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}

.features-card img{
    width: 60px;
}

/* big feature section */

.big-feature-section{
    padding: 30px var(--padding-inline-section) 0;
}

.big-feature-container{
    gap: 30px;
}

#second-big-feaure{
    flex-direction: row-reverse;
}

.feature-image img{
    width: 100%;
}

.feature-desc {
    flex-direction: column;
    align-items: flex-start;
}

/* examples section */
.examples-section{
    padding: 60px var(--padding-inline-section);
}
.examples-header{
    text-align: center;
    flex-direction: column;
    gap: 20px;
}

.examples-area{
    justify-content: space-between;
    margin-block: 30px;
    flex-wrap: wrap;
}

.examples-card{
    width: 23%;
    position: relative;
    height: 300px;
    transition: 0.2s ease-out;
    
}

/* or examples-card:nth-child(3){
    to set background image and size as cover
}
*/

.card-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
}

.examples-card:hover{
    box-shadow: 0 0 10px #888;
}

/* cta section */

.cta-section-container{
    flex-direction: column;
    gap: 30px;
    color: white;
}

.cta-section{
    padding: 90px var(--padding-inline-section) 80px;
    background-color: #183b54;
}

.cta-section-container p{
    color: white;
    margin-top: 20px;
}

/*footer */
footer{
    padding-block: 80px;
    background-color: #ebf2fa;
}

.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.footer-container{
    align-items: flex-start;
    justify-content: space-between;
}

/* subfooter */

.subfooter{
    background-color: #b9cde4;
    padding: var(--padding-inline-section);
}

.subfooter-container{
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

